.body{
    width: 1900px;
}
.hero{
    background-image: url("../img/header-background.jpeg");

}

.container-nav{
    display: flex;
    height: 70px;
    align-items: center;
    background:  #313131;
    justify-content: space-between;


}
.logo-container{
    display: flex;
}
.img-cont{
    width: 81px;
    height: 70px;

}
.img-logo{
    width: 27px;
    height: 27px;
    padding: 22px 27px 21px 27px;

}
.navigation-nav-link{
    color: white;
    text-decoration: none;
}
.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navigation-list{
    display: flex;
    align-items: center;
    height: 26px;
    margin: 22px 427px 22px 83px;

}

.navigation-menu-item{
    display: flex;
    align-items: center;
    padding-right: 35px;
    line-height: 20px;


}
.navigation-menu-link-first{
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    color: #14B9D5;


}
.navigation-menu-link{
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin: auto 17px;


}
.search{
    background: black;
    width: 68px;
    height: 70px;
}
.search-icon{
    width: 17px;
    height: 17px;
    padding: 27px 25px 27px 25px;

}

.header-info{
    display: flex;
    flex-direction:column;
    height: 369px;
    background-repeat: no-repeat;
    background-image: url(../img/header-background.jpeg);
    background-size: cover;
    background-position-y: center;
    align-items: center;
    justify-content: center;



}
.header-info-text{
    color: white;
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
}



.header-info-buttons {
    display: flex;
}



.btn-green{
    display: flex;
    background: #89CA62;
    font-size: 18px;
    line-height: 25px;
    color: white;
    margin-right: 20px;
    width: 170px;
    height: 55px;
    padding: 16px 19px 17px 19px;



}
.btn-blue{
    display: flex;
    background: #14B9D5;
    font-size: 18px;
    line-height: 25px;
    color: white;
    width: 170px;
    height: 55px;
    padding: 16px 29px 17px 30px;

}



.container-article-gallery{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    background: #F2F2F2;
    flex-direction: column;
    height: 1030px;
}

.article-heading {
    display: flex;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    margin: 49px 799px 52px 791px;
    color: #18B4CF;
}


.content-block{
    display: flex;
    width: 1170px;
    height: 850px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 370px;
}

.content-block-img{
    margin-bottom: 30px;
    background: #fff;
    margin-right: 30px;
    display: grid;
}

.text-img-line{
    width: 370px;
    text-decoration: none;
    color: black;

}

.block-img{
    width: 100%;

}
.block-text{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

}

.brands-cont {
    display: grid;
    height: 588px;
    background-image: url(../img/Shape23.jpeg);
    background-size: cover;
    background-position-y: center;
    align-items: center;
    justify-content: center;
}

.brand-img{
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 3fr;
}


.brand-text-links{
    display: grid;
    height: 290px;
    padding-top: 115px;
    padding-bottom: 185px;



}
.brands-heading {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: #F2F2F2;
}

.line{

    width: 60px;
    height: 3px;
    background: #18B4CF;
    text-align: center;
    margin-left: 400px;
    margin-bottom: 80px;


}

.brands-links{
    display: grid;
    grid-auto-flow: column;
    height: 63px;
    grid-column-gap: 55px;

}


.top-rated{
    display: grid;
    width: 1900px;

}

.top-heading{
    font-size: 27px;
    line-height: 37px;
    display: grid;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}
.top-rated-links{

    display: grid;
    grid-auto-flow: column;

}
.hot-news{
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: 8fr;
    grid-gap: 48px;
    width: 1168px;
    height: 1567px;
    margin-left: 371px;
    margin-right: 368px;
    margin-top: 48px;

}

.article-box-heading{
    display: grid;
    background: rgba(0, 0, 0, 0.0001);


}
.link-heading{
    text-decoration: none;
    color: #18B4CF;

}
.box-heading{
    display: grid;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
    justify-content: center;


}

.items-box{
    display: grid;
    height: 1480px;
    width: 1180px;



}

.item-1{
    display: flex;
    width: 857px;
    height: 259px;
    background: #F9F7F7;
    grid-area: item-1;



}
.item-text{

    background: #F9F7F7;
}
.link-item{
    text-decoration: none;
}

.news-head{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: end;

}
.news-text{
    width: 350px;
    text-align: end;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #353A3D;

}
.item-2{
    width: 277px;
    height: 258px;
    background: #F9F7F7;
    grid-area: item-2;
}
.news-head-2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: center;
}
.item-3{

    width: 554px;
    height: 418px;
    background: #F9F7F7;
    grid-area: item-3;

}
.news-text-3{
    text-align: right;
    color: #353A3D;
    height: 104px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;


}

.item-4{
    width: 554px;
    height: 418px;
    background: #F9F7F7;
    grid-area: item-4;

}

.item-5{
    width: 554px;
    height: 416px;
    background: #F9F7F7;
    grid-area: item-5;

}
.item-6{
    width: 554px;
    height: 416px;
    background: #F9F7F7;
    grid-area: item-6;
}
.item-7{
    width: 277px;
    height: 258px;
    background: #F9F7F7;
    grid-area: item-7;
}
.item-8{
    display: flex;
    width: 857px;
    height: 259px;
    background: #F9F7F7;
    grid-area: item-8;

}

.items-box{
    display: grid;
    height: 1480px;
    width: 1180px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 35px;
    align-items: start;
    grid-template-areas:
    "item-1 item-1 item-1 item-2"
    "item-3 item-3 item-4 item-4"
    "item-5 item-5 item-6 item-6"
    "item-7 item-8 item-8 item-8"

}
.footer{
    display: grid;
    height: 80px;
}
.footer-text-logo{
    display: grid;
    background-color: black;
    grid-auto-flow: column;
    padding-top: 29px;


}
.footer-text{
    display: grid;
    color: #F2F2F2;
    margin-left: 367px;

}
.footer-logo{
    height: 24px;
}
